<div class="row">
    <div class="col-sm-6 col-md-3" *ngFor="let card of cards_info">
        <app-dashboard-card [icon]="card.icon" [category]="card.category" [title]="card.title" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card card-round">
            <div class="card-body">
                <div class="card-head-row card-tools-still-right">
                    <div class="card-title">Últimos clientes adicionados</div>
                </div>
                <div class="card-list py-4">
                    <div *ngFor="let item of itens_cliente_info">
                        <app-dashboard-cliente-item [nome_cliente]="item.nome" [data_cadastro]="item.dataCadastro" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card card-round">
            <div class="card-header">
                <div class="card-head-row card-tools-still-right">
                    <div class="card-title">Últimas vendas </div>
                    <div class="card-tools">
                        <div class="dropdown">
                            <button class="btn btn-icon btn-clean me-0" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" (click)="reload()">Atualizar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body p-0">
                <div class="table-responsive">
                    <app-table-vendas-dashboard [vendas]="itens_venda_info"></app-table-vendas-dashboard>
                </div>
            </div>
        </div>
    </div>
</div>