<!-- Sidebar -->
<div class="sidebar" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a href="index.html" class="logo">
        <img src="assets/img/sellwiselogo.svg" alt="navbar brand" class="navbar-brand" height="30" />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/dashboard">
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Cadastros</h4>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/products">
            <i class="fas fa-archive"></i>
            <p>Produtos</p>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/customers">
            <i class="fas fa-user"></i>
            <p>Clientes</p>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/suppliers">
            <i class="fas fa-truck"></i>
            <p>Fornecedores</p>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/employees">
            <i class="fas fa-id-card"></i>
            <p>Funcionários</p>
          </a>
        </li>

        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Vendas/Entrada de Estoque</h4>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/pdv">
            <i class="fas fa-shopping-cart"></i>
            <p>PDV</p>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/stock-entry">
            <i class="fas fa-truck-loading"></i>
            <p>Entrada de Estoque</p>
          </a>
        </li>

        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Relatórios</h4>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/finance-report">
            <i class="fas fa-money-bill-alt"></i>
            <p>Financeiro</p>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/employee-report">
            <i class="fas fa-users"></i>
            <p>Funcionários</p>
          </a>
        </li>

        <li class="nav-section">
          <span class="sidebar-mini-icon"> </span>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/configs">
            <i class="fas fa-desktop"></i>
            <p>Configurações</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Sidebar -->

<div class="main-panel">
  <div class="">
    <app-header />
  </div>

  <div class="container">
    <div class="page-inner">
      <router-outlet />
    </div>
  </div>
</div>