<form (ngSubmit)="saveFuncionario()">
  <!-- Dados do Funcionário -->
  <div class="form-group row">
    <div class="col-8">
      <label for="nome">Nome</label>
      <input type="text" id="nome" class="form-control" [(ngModel)]="funcionario.nome" name="nome" required />
    </div>
    <div class="col-4">
      <label for="cpf">CPF</label>
      <input type="text" id="cpf" class="form-control" [(ngModel)]="funcionario.cpf" name="cpf" required />
    </div>
  </div>

  <div class="form-group">
    <label for="dataNascimento">Data de Nascimento</label>
    <input type="text" id="dataNascimento" class="form-control" [(ngModel)]="funcionario.dataNascimento"
      name="dataNascimento" mask="00/00/0000" placeholder="dd/mm/yyyy" required />
  </div>

  <div class="form-group row">
    <!-- Endereço -->
    <div class="col-3">
      <label for="cep">CEP</label>
      <input type="text" id="cep" class="form-control" [(ngModel)]="funcionario.endereco.cep" name="cep" required />
    </div>

    <div class="col-6">
      <label for="logradouro">Logradouro</label>
      <input type="text" id="logradouro" class="form-control" [(ngModel)]="funcionario.endereco.logradouro"
        name="logradouro" required />
    </div>

    <div class="col-3">
      <label for="numero">Número</label>
      <input type="text" id="numero" class="form-control" [(ngModel)]="funcionario.endereco.numero" name="numero"
        required />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-4">
      <label for="bairro">Bairro</label>
      <input type="text" id="bairro" class="form-control" [(ngModel)]="funcionario.endereco.bairro" name="bairro"
        required />
    </div>

    <div class="col-4">
      <label for="cidade">Cidade</label>
      <input type="text" id="cidade" class="form-control" [(ngModel)]="funcionario.endereco.cidade" name="cidade"
        required />
    </div>

    <div class="col-4">
      <label for="estado">Estado</label>
      <input type="text" id="estado" class="form-control" [(ngModel)]="funcionario.endereco.estado" name="estado"
        required />
    </div>
  </div>

  <div class="form-group">
    <label for="complemento">Complemento</label>
    <input type="text" id="complemento" class="form-control" [(ngModel)]="funcionario.endereco.complemento"
      name="complemento" />
  </div>

  <!-- Usuario e senha -->
  <div class="form-group row">
    <div class="col-6">
      <label for="usuario">Usuário</label>
      <input type="text" id="usuario" class="form-control" [(ngModel)]="userFuncionario.username" name="usuario"
        required />
    </div>
    <div class="col-6">
      <label for="senha">Senha</label>
      <input type="password" id="senha" class="form-control" [(ngModel)]="userFuncionario.password" name="senha"
        required minlength="8" />
    </div>
  </div>

  <!-- Contatos -->
  <div class="form-group" *ngFor="let contato of funcionario.contatos; let i = index">
    <div class="row">
      <div class="col-6">
        <label for="numero-{{ i }}">Contato {{ i + 1 }}</label>
        <input type="text" id="numero-{{ i }}" class="form-control" [(ngModel)]="contato.numero" name="numero-{{ i }}"
          required />
      </div>
      <div class="col-4">
        <label for="tipo-{{ i }}">Tipo</label>
        <select id="tipo-{{ i }}" class="form-control" [(ngModel)]="contato.tipo" name="tipo-{{ i }}" required>
          <option value="Fixo">Fixo</option>
          <option value="Celular">Celular</option>
          <option value="Outro">Outro</option>
        </select>
      </div>
      <div class="col-2 d-flex align-items-end">
        <button type="button" class="btn btn-danger" (click)="removeContact(i)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="form-group button-group">
    <button type="button" class="btn btn-info first-button" (click)="addContact()"> Adicionar Contato </button>
    <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Atualizar' : 'Cadastrar' }}</button>
    <a (click)="cancel()" class="btn btn-danger"> Cancelar </a>
  </div>
</form>