.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background: rgba(255, 255, 255, 255);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.modal-dialog-centered-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.modal-dialog {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

.button-group {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.button-group button {
    margin-right: 5px;
}

.margin {
    margin: 50px !important;
}